<!DOCTYPE html>
<head>
    <title></title>
    <script>

    </script>
</head>
<body>
    <form  method="post">
        <input  name="id" placeholder="请输入ID"/><br/>
        <input  name="password" placeholder="请输入密码" type="password"/><br/>
        <input name="repeat-password" placeholder="请再输一次" type="password"><br/>
        <input type="submit" name="submit"/>
    </form>
</body>